body {
  background: #9fcfee;
}
.sprite-big {
  background-image: url(../img/weather-icons-map.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.sprite-big.sprite-01d {
  background-position: 0px 0px;
}
.sprite-big.sprite-03d {
  background-position: -30px 0px;
}
.sprite-big.sprite-03n {
  background-position: -30px 0px;
}
.sprite-big.sprite-04d {
  background-position: -30px 0px;
}
.sprite-big.sprite-04n {
  background-position: -30px 0px;
}
.sprite-big.sprite-01n {
  background-position: -60px 0px;
}
.sprite-big.sprite-09d {
  background-position: -90px 0px;
}
.sprite-big.sprite-09n {
  background-position: -90px 0px;
}
.sprite-big.sprite-02n {
  background-position: -120px 0px;
}
.sprite-big.sprite-02d {
  background-position: -150px 0px;
}
.sprite-big.sprite-10d {
  background-position: -180px 0px;
}
.sprite-big.sprite-10n {
  background-position: -180px 0px;
}
.sprite-big.sprite-11d {
  background-position: -210px 0px;
}
.sprite-big.sprite-11n {
  background-position: -210px 0px;
}
.sprite-big.sprite-13d {
  background-position: -270px 0px;
}
.sprite-big.sprite-13n {
  background-position: -270px 0px;
}
.sprite-big.dust-good {
  background-position: 0px -30px;
}
.sprite-big.dust-soso {
  background-position: -30px -30px;
}
.sprite-big.dust-bad {
  background-position: -60px -30px;
}
.sprite-big.dust-terrible {
  background-position: -90px -30px;
}

header {
  background: none;
}
header > button {
  color: #0a394b;
}
header button:nth-child(2) {
  right: 15px;
}
header button:nth-child(2) {
  position: relative;
  left: 51%;
  top: 50%;
  right: initial;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h1 {
  position: initial;
  display: inline-block;
  transform: none;
  color: #0a394b;
  font-size: 0.55em;
}
.sub-title {
  display: none;
  width: 130px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875em;
  color: #0a394b;
}
section img {
  width: 100%;
  height: 506px;
}
nav {
  margin: 45px 0 0 20px;
}
nav button {
  padding: 0 15px;
  height: 40px;
  background: white;
  color: #3492e9;
  float: left;
}
nav button:first-child {
  border-radius: 7px 0 0 7px;
}
nav button:last-child {
  border-radius: 0 7px 7px 0;
}
nav button.active {
  background: #3492e9;
  color: white;
}
.weather-icon span {
  position: absolute;
  width: 30px;
  height: 30px;
}
